.createForm{
    margin: 40px auto auto auto !important;
    width: 30%;
    min-width: 200px;
    padding: 10px;
}

.createCenter {
    margin: 0 auto;
}

.white{
    color:white;
}

.createErrorMess{
    display:inline;
    color: rgb(219, 25, 25);
    font-size: 16px;
    font-weight:bold;
    
    margin: 40px auto auto  auto ;
    text-align: center;
    width: 100%;
   
}

.createBtnCenter, .h1Center{
    
    display: flex !important;
    justify-content: center !important;
    margin: 40px auto auto  auto ;
}

.displayBlock{
    display:block;
    color: rgb(219, 25, 25);
    
}

.articleFullText{
    min-height: 200px;
    font-style: normal;
}
.ql-editor{
    background-color: white;
}

.ql-editor p{
    color: #000;
}

.richTextEditor.p-component.p-editor-container.richTextEditor {
    display:grid;
}

.p-editor-content.ql-container.ql-snow{
    height: 300px;
}